<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add patient</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{validate}" th:object="${patientDto}" method="post" class="form-horizontal"
              style="width: 100%">
            <div class="form-group">
                <label for="given" class="col-sm-2 control-label">Patient</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{given}" id="given" placeholder="Firstname" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('given')}" th:errors="*{given}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="family" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{family}" id="family" placeholder="Last Name" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('family')}" th:errors="*{family}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="dob" class="col-sm-2 control-label">Birthdate</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{dob}" id="dob" placeholder="Birthdate"
                           class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{sex}" id="sex" placeholder="Gender"
                           class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{address}" id="address" placeholder="Address"
                           class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone"
                           class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Patient">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>