<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Get Patient notes</h2>
    </div>

    <div class="row">
        <form th:action="@{/note/infos}">
            <label>Patient last name:</label>
            <input type="text" th:name="lastName" placeholder="last name"/>
            <input type="submit"/>
            <p class="text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red"></p>
        </form>
    </div>

</div>
</body>
</html>